@import "tailwindcss";

:root {
  --bg-dark: #0B0C10;
  --bg-card: #1F232B;
  --cyber-lime: #CCFF00;
  --text-primary: #FFFFFF;
  --text-muted: #8A94A6;
}

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg-card: var(--bg-card);
  --color-cyber-lime: var(--cyber-lime);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);

  /* Mapiranje naših novih tech fontova */
  --font-display: var(--font-tech-heading);
  --font-body: var(--font-tech-body);

  --animate-shimmer: shimmer 1s ease-in-out infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

html, body {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: var(--font-tech-body), sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}